<%inherit file="base.htm" />

<%block name="main_center_content">
    <div class="container extraHeight">
        <div class="row">
            <div id="image_gallery_container">
                <div class="oneImageDiv">
                    <img filename="image1.jpg" size="160px" mime_type="jpg" title="Princess" src="/static/projects/media/image1.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image2.jpg" size="160px" mime_type="jpg" title="Green Monster" src="/static/projects/media/image2.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image3.jpg" size="160px" mime_type="jpg" title="Woody" src="/static/projects/media/image3.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image4.jpg" size="160px" mime_type="jpg" title="Fluffy!" src="/static/projects/media/image4.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image5.jpg" size="160px" mime_type="jpg" title="Angry Old Man" src="/static/projects/media/image5.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image6.jpg" size="160px" mime_type="jpg" title="Up!" src="/static/projects/media/image6.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image7.jpg" size="160px" mime_type="jpg" title="Lightening McQueen" src="/static/projects/media/image7.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image8.jpg" size="160px" mime_type="jpg" title="Bouncy Ball" src="/static/projects/media/image8.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image9.jpg" size="160px" mime_type="jpg" title="Wall-E" src="/static/projects/media/image9.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image10.jpg" size="160px" mime_type="jpg" title="Little Fish" src="/static/projects/media/image10.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image11.jpg" size="160px" mime_type="jpg" title="Cars Logo" src="/static/projects/media/image11.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image12.jpg" size="160px" mime_type="jpg" title="Woody and Buzz" src="/static/projects/media/image12.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image13.jpg" size="160px" mime_type="jpg" title="Angry Grasshopper" src="/static/projects/media/image13.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image14.jpg" size="160px" mime_type="jpg" title="Cube of Pixar!" src="/static/projects/media/image14.jpg" />
                </div>
                <div class="oneImageDiv">
                    <img filename="image15.jpg" size="160px" mime_type="jpg" title="DinoChoper" src="/static/projects/media/image15.jpg" />
                </div>
            </div>
        </div>
    </div>
</%block>