## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    
    <title>homepage</title>
    
    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
  </head>
  <body>
  
    <header>
      <%block name="main_header_content">
        <ul class="tab-bar">
          <a><li>First</li></a>
          <a class="tab-active"><li>Second</li></a>
          <a><li>Third</li></a>
          <a><li>Fourth</li></a>
          <a><li>Fifth</li></a>
        </ul>

        <script>
          $(function() {
            $("ul.tab-bar > a").click(function() {
              $(this).siblings('.tab-active').removeClass('tab-active');
              $(this).addClass('tab-active');
            });
          });
        </script>
      </%block>
    </header>

    <main>
      <%block name="main_center_content">
        Main content Section
      </%block>
    </main>


    <footer>
      <%block name="main_footer_content">
        Footer Base
      </%block>
    </footer>

    ## render the JS with the same name as this page
    ${ static_renderer.get_template_js(request, context)  }
  
  </body>
</html>